.c-card__section {
    width: 100vw;
    padding: 40px 0;
}

.c-card__wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 16px;
}

.c-viewdeck__wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-inline: auto;
    gap: 40px;
}
