.c-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 150px;
    background-color: #fff;
    box-shadow: 1px 1px 5px 3px rgba(52, 52, 52, 0.05);
    border-radius: 10px;
    cursor: pointer;
}

p {
    font-size: 24px;
    font-weight: 400;
}
